/* ini file CSS */

main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 16px;

}

.main-header {
    text-align: center;
    background-color: aqua;
}

.container {
    background: skyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
}

.article-group {
    width: 100%;
    margin: auto;
    text-align: left;
   
}
label {
    display: block;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background: #218838;
}
.result {
    margin-top: 20px;
    padding: 15px;
    background: #e3f2fd;
    border-radius: 10px;
}

.category {
    font-weight: bold;
    color: #d9534f;
}
.recommendations {
    margin-top: 15px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 10px;
    text-align: left;
}
.download-button {
    display: block;
    width: 100%;
    margin-top: 10px;
    background: #007bff;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

footer {
    text-align: center;
    background: aliceblue;
    
    color:black;
    padding: 20px 0;
}
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
}